<%- include('./partials/header'); -%>
  <title>About Page</title>
    <h1  style = "color: rgb(63, 129, 169);">ABOUT</h1>
    <p  style="font-size: medium; font-family:cursive;"> <%= aboutContent %></p>
    
 <%- include('./partials/footer'); -%>