<!-- <%- include('./partials/header'); -%>
  <title>Contact Page</title>
    <h1  style = "color: rgb(63, 129, 169);">CONTACT</h1>
    <p  style="font-size: medium; font-family:cursive;"> <%= contactContent %></p>
    
 <%- include('./partials/footer'); -%> -->