<%- include('./partials/header'); -%>

    <h1  style = "color: rgb(63, 129, 169);"><%= title %></h1>
    <p style="font-size: medium; font-family:cursive;"><%= content %></p>


<%- include('./partials/footer'); -%>
